
DATABASE_URL= url
PORT=8080
APP_URL=http://localhost:3000

JWT_ACCESS_SECRET=your_access_secret_randomly_generated_string
JWT_REFRESH_SECRET=your_refresh_secret_randomly_generated_string
JWT_ACCESS_EXPIRES_IN=1h
JWT_REFRESH_EXPIRES_IN=7d
BCRYPT_SALT_ROUNDS=12
STRIPE_SECRET_KEY=xx
STRIPE_WEBHOOK_SECRET=xx
